Memorize.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Memorize.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Memorize.xcodeproj/project.xcworkspace/xcuserdata/noelvelasco.xcuserdatad/UserInterfaceState.xcuserstate
Memorize.xcodeproj/xcshareddata/xcschemes/Memorize.xcscheme
Memorize.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/Memorize-Beta.xcscheme
Memorize.xcodeproj/xcuserdata/noelvelasco.xcuserdatad/xcschemes/xcschememanagement.plist
